@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

*{
    margin: 0;
    font-family: "Reddit Mono", monospace;
  }
  
  body {
  
      background-color: rgb(119, 228, 183);
      color: rgb(143, 107, 91);
  
  }
  
  header {
  
      width: 100vw;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(85, 230, 148);
      color: rgb(0, 98, 128);
  }
  
  main {
  
      width: 100vw;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 35px;
  
  }
  
  .form {
  
      display: flex;
      flex-direction: column;
      margin: 0 500px;
      margin-top: 40px;
  }
  
  .form input {
  
      margin: 5px;
      padding: 5px;
  
  }
  
  .form .botoes {
  
      margin: 5px auto;
      gap: 10px;
    

    
  
  }
  
  .form button {
  
      width: 120px;
      height: 35px;
      margin: 5px auto;
      cursor: pointer;
      border-radius: 10px;
  }
  
  #calcular {
  
      background-color: rgb(157, 231, 167);
      color: rgb(18, 163, 61);
  
  }
  
  #calcular:hover {
  
      background-color: rgb(189, 255, 199);
      color: rgb(58, 230, 109);
  
  }
  
  .res {
  
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 10px 60px;
  
  }
  
  #reiniciar {
  
      background-color: rgb(157, 162, 231);
      color: rgb(20, 18, 163);
  
  }
  
  #reiniciar:hover {
  
      background-color: rgb(189, 193, 255);
      color: rgb(61, 58, 230);
  
  }
  
  footer {
  
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
  }